{
  "env": {
    "all": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 9"
              ],
              "node": 6
            },
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        [
          "transform-runtime",
          {
            "polyfill": false
          }
        ],
        "syntax-decorators",
        "transform-do-expressions",
        "transform-function-bind",
        "transform-class-constructor-call",
        "transform-export-extensions",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-async-generator-functions",
        "react-require",
        "ng-annotate"
      ]
    },
    "angular": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 9"
              ],
              "node": 6
            }
          }
        ]
      ],
      "plugins": [
        [
          "transform-runtime",
          {
            "polyfill": false
          }
        ],
        "syntax-decorators",
        "transform-do-expressions",
        "transform-function-bind",
        "transform-class-constructor-call",
        "transform-export-extensions",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-async-generator-functions",
        "ng-annotate"
      ]
    },
    "lib": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 9"
              ],
              "node": 6
            }
          }
        ],
        "react"
      ],
      "plugins": [
        [
          "transform-runtime",
          {
            "polyfill": false
          }
        ],
        "syntax-decorators",
        "transform-do-expressions",
        "transform-function-bind",
        "transform-class-constructor-call",
        "transform-export-extensions",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-async-generator-functions",
        "react-require",
        "ng-annotate"
      ]
    },
    "react": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 9"
              ],
              "node": 6
            },
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        [
          "transform-runtime",
          {
            "polyfill": false
          }
        ],
        "syntax-decorators",
        "transform-do-expressions",
        "transform-function-bind",
        "transform-class-constructor-call",
        "transform-export-extensions",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-async-generator-functions",
        "react-require"
      ]
    },
    "slim": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 9"
              ],
              "node": 6
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        [
          "transform-runtime",
          {
            "polyfill": false
          }
        ],
        "syntax-decorators",
        "transform-do-expressions",
        "transform-function-bind",
        "transform-class-constructor-call",
        "transform-export-extensions",
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-async-generator-functions"
      ]
    },
    "// Babel config from frontend-app. DO NOT EDIT THIS FILE. On install, changes will be overwritten.": null
  }
}
